
#octopus {
	position: relative;
	display: block;
	width: 210px;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
	z-index:1;
}
#hat {
	width: 276px;
	top: 
	left: 0;
	right: 0;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	display: block;
}
#glasses {
	width: 135px;
	left: 0;
	right: 0;
	display: block;
	position: relative;
	margin-top: -4px;
	margin-right: auto;
	margin-left: auto;
	z-index: 3;
	display: block;
}


